NEXT_PUBLIC_WORDPRESS_API_URL=test.com
NEXT_PUBLIC_WORDPRESS_API_USER=use
NEXT_PUBLIC_WORDPRESS_API_PASS=pass


NEXT_PUBLIC_ID_PAGE_CAREERS=52202
NEXT_PUBLIC_ID_PAGE_TERMS_AND_CODITIONS=11194
NEXT_PUBLIC_ID_PAGE_CORPORATE_PARTNER=8375
NEXT_PUBLIC_ID_PAGE_PRIVACYPOLICY=3
NEXT_PUBLIC_ID_PAGE_ABOUT_US=346
NEXT_PUBLIC_ID_PAGE_CONTACT_US=491