.listItems {
  display: flex !important;
  margin-bottom: 12px;
}
.linkContact {
  white-space: nowrap !important;
  margin: auto 0;
}
.linkContact:hover {
  color: rgb(40, 196, 117);
}
.listItems {
  font-size: 16px;
}
.listItems:last-child {
  font-size: 14px;
}
