.breadcrumb {
    margin-bottom: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
}

.spanBreadcrumb {
    margin: 0 10px;
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: 1px;
    color: #888888;
}

.linkBreadcrumb:hover {
    text-decoration: underline;
}

.strongBreadcrumb {
    font-weight: 900;
}

.linkBreadcrumb:hover {
    text-decoration: underline;
}

.strongBreadcrumb {
    font-weight: 900;
}