.title {
  color: rgb(105, 105, 105);
  font-family: var(--font-nunito);
  font-weight: 400;
}
.title > span {
  display: block;
  padding: 18px 0;
  margin-bottom: 10px;
}
.title span span {
  margin: 0 5px;
}
.title h2 {
  font-size: 48px;
  color: #28c475;
  text-align: center;
  font-family: var(--font-oduda-bold);
  margin-bottom: 30px;
}
.careerContent h2 {
  margin-bottom: 30px;
  font-size: 48px;
  color: #28c475;
  text-align: center;
}
.careerContent header h4,
.careerContent header h2 {
  font-family: var(--font-oduda-bold);
  font-weight: 400;
  color: rgb(51, 51, 51);
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
}
.careerContent header h4 {
  font-size: 18px;
}

.careerContent p {
  font-size: 14px;
  color: rgb(105, 105, 105);
}
