.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  padding: 0;
}
.title {
  margin: 15px 0 8px 0;
}
.inputPhone > input {
  border: 1px solid #dee2e6 !important;
  width: 100% !important;
}
.required {
  color: #f00;
  font-weight: 400;
  margin-left: 3px;
}
