.titleBreadCrumb {
  color: rgb(105, 105, 105);
  font-family: var(--font-nunito);
  font-weight: 400;
  font-size: 16px;
  margin: 21px 0 76px 0;
}
.titleBreadCrumb span {
  margin: 0 5px;
}
/* -------------------------------- */

.input:focus {
  outline: none;
}
.input {
  height: 40px;
  padding: 0 15px;
  color: #666;
  border: 1px solid rgb(40, 196, 117);
  margin-bottom: 40px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button button {
  width: 40px;
  border: 0;
  color: #fff;
  background-color: rgb(40, 196, 117);
  height: 40px;
  line-height: 35px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* ---------------------------- */

.title {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 28px;
  font-weight: 600;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-family: var(--font-oduda-bold);
  color: rgb(51, 51, 51);
  border-color: #d7d7d7;
}

/* ---------------------------------- */
.titleCate,
.titleSider {
  margin-bottom: 30px;
}

.titleCate ul,
.titleSider ul {
  margin: 16px 0;
  list-style-type: none;
  padding-left: 0;
}

.titleSider ul li:not(:last-of-type) {
  border-bottom: 1px solid;
  border-color: #d7d7d7;
}

.titleSider ul li {
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.titleSider ul li a:hover {
  color: rgb(66, 133, 244);
}

.titleCate ul li a:hover {
  color: rgb(66, 133, 244);
}

.titleCate ul li a,
.titleSider ul li a {
  color: rgb(105, 105, 105);
}

.titleCate ul li {
  padding-top: 8px;
  font-size: 14px;
  color: rgb(105, 105, 105);
}
/* ------------------------------------------ */

.entryTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  font-family: var(--font-oduda-bold);
  color: rgb(51, 51, 51);
}
.entryTitle a:hover {
  color: rgb(40, 196, 117);
}
.entryText {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-height: 24px;
  max-height: 76px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: var(--font-nunito);
  font-weight: 400;
}
.readMoreLink a {
  font-size: 14px;
  border-radius: 5px;
  text-transform: capitalize;
  line-height: 20px;
  height: auto;
  border: 1px solid;
  text-decoration: none;
  padding: 6px 17px;
  color: rgb(40, 196, 117);
  background-color: rgb(255, 255, 255);
}
.entryFooter {
  margin-top: 20px;
}

.entryFooter span {
  text-transform: uppercase;
  color: rgb(105, 105, 105);
  font-family: var(--font-nunito);
  font-weight: 400;
  font-size: 16px;
}
.entryWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.entryWrap > span {
  text-transform: uppercase;
  color: rgb(105, 105, 105);
  font-weight: 400;
  font-size: 16px;
}
.entryCat {
  display: flex;
  flex-direction: column;
  color: rgb(66, 133, 244);
  text-transform: uppercase;
  font-size: 12.63px;
  line-height: 20px;
  margin-bottom: 6px;
}
/* ---------------pagination-------------- */
.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 70px;
}
.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-nunito);
  line-height: 21px;
  color: rgb(105, 105, 105);
}
.pagination a:hover {
  color: rgb(40, 196, 117);
}
